@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin btn-gradient {
    cursor: pointer;
    border-radius: 25px;
    padding: 13px 20px;
    margin: 10px 0 40px 0;
    font-size: 14px;
    color: white;
    border: none;
    box-shadow: 5px 5px 5px gray;
    background: linear-gradient(to bottom right, $secondary-clr, $primary-clr);   
}

// @mixin loader {
//         background-color: white;
//         width: 100vw;
//         height: 100vh;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         color: black;
//         position: absolute;
//         z-index: 20;
//         animation: loading-disparition .5s 3s ease-in forwards;

//     .loader i {
//         width: 70vw;
//         display: flex;
//         justify-content: space-between;
//     }

//     .fa-wine-glass {
//         animation: mvtfood 1.5s ease-in;
//         color: #9356DC;  
//     }

//     .fa-utensils {
//         animation: mvtfood 1.5s 120ms ease-in;
//           color: #FF79DA;
//     }
      
//     .fa-carrot {
//         animation: mvtfood 1.5s 280ms ease-in;
//         color: #99E2D0;
//     }


//     @keyframes mvtfood {
  
//         0% {
//            opacity: 0;
//         }
         
//         5% {
//            transform: translateX(-300%);
//         }
         
//         20% {
//            opacity: 1;
//            transform: scale(0);
//            transform: translateX(100%);
//         }
         
//         25% {
//            transform: translateX(-5%);
//            transform: scale(0.8, 1.2);
//         }
         
//         30% {
//            transform: translateX(0%);
//         }
            
//         60% {
//            transform: translateY(40%);
//         }
         
//         100% {
//            transform: translateY(0%);
//         }
       
//        }
       
       
//        @keyframes loading-typo {
//             0% {
//                 transform: scaleX(1);
//             }
         
//             30% {
//                 transform: scaleX(1.3);
//             }
         
//             80% {
//                 transform: scaleX(1.6);
//             }
//             100% {
//                 transform: scaleX(2);
//             }
//        }
       
       
//        @keyframes loading-disparition {
//         from {
//           opacity:1;
//         }
         
//         to {
//           opacity: 0;
//         }
//        }
// }

