@media screen and (max-width: 767px) {
    * {
        box-sizing: border-box;
        // padding: 0;
        // margin: 0;
    }

.header__menu {
    @include center;


    .header__return {
        display: inline-block;

        position: absolute;
        top: 4%;
        left: 10%;
    }

    .header__title {
        text-align: center;
        margin: 15px 0;
    }
}

.menu__containers {
    background-color: #EAEAEA;
}

.menu__main {
    display: flex;
    flex-direction: column;


.menu__image {
     width: 100%;
    height: 200px;
    z-index: 10;
}

.menu__title {
    display: inline-flex;
    font-size: 14px;
    margin: 15px 0 0 18px;
}

/*-- HEART--*/
//     .menu__title-icon {
//         display: inline-block;
    

//     .menu__title-heart {
//         cursor: pointer;
//         font-size: 20px;
//         position: absolute;
//         right: 1.5rem;
//         top: 18.5rem;
//         z-index: 8;
//         overflow: hidden;
//         outline: 3px solid blue;
//     }

//     .far.fa-heart:hover {
//         transition: color .5s ease;
//         color: transparent;
//     }

//     // .far.fa-heart:hover+.box-hidden {
//     //     bottom: 30px
//     // }

//     .box-hidden {
//         position: absolute;
//         width: 20px;
//         height: 20px;
//         right: 2.11rem;
//         top: 18.5rem;
//         // right: 20px;
//         // bottom: 10px;
//         background: #EAEAEA;
//         transition: all .3s ease;
//         z-index: 2;
//         color: transparent;
//         // outline: 3px solid red;
//     }

//     .fas.fa-heart {
//         font-size: 20px;
//         position: absolute;
//         right: 1.49rem;
//         top: 18.5rem;
//         z-index: 1;
//         // right: 10px;
//         // bottom: 10px;
//         background: linear-gradient(to top, #FF79DA, #9356DC);
//         -webkit-background-clip: text;
//         color: transparent;
//     }

//     .menu__title-heart {
//         position: relative;
//         top: 20px;
//         margin-left: 75px;
//         background-color: #EAEAEA;
//     }
// }

/*-- CARDS--*/
.menu__card {
    margin-left: 18px;
    border-radius: 10px;
    width: 88%;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 12px;
    box-shadow: 2px 2px 2px gray;
}

.menu__choices-title {
    margin: 30px 0 20px 18px;
    font-weight: 400;
    padding-bottom: 3px;
    border-bottom: solid 3px;
    border-image: linear-gradient(to right, #99e2d0 10%, #EAEAEA 10%) 100% 1;
}

.menu__card-item {
    display: flex;
    margin-left: 5px;
    font-size: 11px;
    font-weight: 500; 
    padding: 10px 5px 5px 5px;
    // overflow: hidden;
        // white-space: nowrap;
        // text-overflow: ellipsis;
}

.menu__card-info {
    display: flex;
    width: 200px;
    margin-left: 5px;
    padding: 0 5px 8px 5px;
    font-size: 14px;
    font-weight: 300;
    // overflow: hidden;
        white-space: nowrap;
        // text-overflow: ellipsis;
}
.menu__card-price {
    position: absolute;
    left: 83%;
    font-weight: bold;
    align-items: flex-end;
}


.menu__order-btn {
    @include center;


    .btn-gradient {
        @include btn-gradient;
        padding: 13px 60px;
    }

    .btn-gradient:hover {
        filter: brightness(95%);
    }
}
}
}